<% provide(:tel_number, ' (57) (5) 3509509- ext. 3120') %>
<% provide(:email, 'mpardo@uninorte.edu.co') %>

<% content_for :about do %>
<tbody>
  <div class="container">
    <div class="row">
      <h1 style="text-align: center">Publications</h1>
      <div class="well well-lg pre-scrollable">
        <ul class="list-group">
            <p class="text-justify">• J.C. Velez, J. Posada, A. Serrano, J. Manjarres, J.C. Niebles, M. Pardo, “A shoreline-estimation system using remote radar sensing and image-processing techniques,” DYNA, Vol.84, Issue 200, April 2017, pp.151-159.</p>
            <p class="text-justify">• J. Posada, M. Pardo, J.C. Velez, M. Alvarado, "Radar-based georeferencing system for estimation of changing river-shores," 2014 IEEE International Symposium on Circuits and Systems (ISCAS), pp.2495,2498, June 2014.</p>
            <p class="text-justify">• W. Toro, J. Velez and M. Pardo, "Implementation of an LC-VCO with Built-in AGC for Oceanographic Radar Applications," in IEEE Latin America Transactions, vol. 14, no. 4, pp. 1645-1651, April 2016. </p>
            <p class="text-justify">• D. Altamar, J. Martinez, W. Toro and M. Pardo, "A basic method for the design of an oscillator using an electromechanical resonator," 2015 IEEE 6th Latin American Symposium on Circuits & Systems (LASCAS), Montevideo, 2015, pp. 1-4.</p>
            <p class="text-justify">• J. Posada, M. Pardo, J.C. Velez, M. Alvarado, "Radar-based georeferencing system for estimation of changing river-shores," 2014 IEEE International Symposium on Circuits and Systems (ISCAS), pp.2495,2498, June 2014.</p>
            <p class="text-justify">• M. Pardo, F.Ayazi, "A Band-Reject Nested-PLL Clock Cleaner Using a Tunable MEMS Oscillator," IEEE Transactions on Circuits and Systems I: Regular Papers, Vol.61, Issue 3, March 2014, pp.653-662.</p>
            <p class="text-justify">• M. Pardo, L. Sorenson, F. Ayazi, "An Empirical Phase-Noise Model for MEMS Oscillators Operating in Nonlinear Regime," IEEE Transactions on Circuits and Systems I: Regular Papers, vol.59, no.5, pp.979-988, May 2012.</p>
            <p class="text-justify">• R. Tabrizian, M. Pardo, F. Ayazi, "A 27 MHz temperature compensated MEMS oscillator with sub-ppm instability," 2012 IEEE 25th International Conference on Micro Electro Mechanical Systems (MEMS), pp.23-26, Jan. 29 2012-Feb. 2 2012.</p>
            <p class="text-justify">• M.Pardo and F. Ayazi, "A Band-Reject Nested-PLL Phase-Noise Reduction Scheme for Clock-Cleaners," Tech. Digest 2011 IEEE International Symposium on Circuits and Systems (ISCAS 2011), Rio de Janeiro, Brazil, May 2011.</p>
            <p class="text-justify">• M.Pardo, L.Sorenson, and F. Ayazi, "A Phase-Noise Model for Nonlinear Piezoelectrically-Actuated MEMS Oscillators," Tech. Digest 2011 IEEE International Symposium on Circuits and Systems (ISCAS 2011), Rio de Janeiro, Brazil, May 2011.</p>
            <p class="text-justify">• M. Pardo, L. Sorenson, W. Pan and F. Ayazi, "Phase Noise Shaping via Forced Nonlinearity in Piezoelectrically actuated Silicon Micromechanical Oscillators" IEEE International Conference on Micro Electro Mechanical Systems (MEMS 2011), Cancun, Mexico, January 2011.</p>
            <p class="text-justify">• M. Pardo et. al. "Decodificador Turbo MAP de varias iteraciones," Revista Ingeniera y Desarrollo, Universidad del Norte, Barranquilla, Colombia, No. 20, pp. 106 -124, 2006.</p>
            <p class="text-justify">• M. Pardo et. al. "Metodo de medicion de combustible en una embarcacion fluvial," Revista Ingeniera y Ciencia, Universidad EAFIT, Medellin, Colombia, Vol. 2, No. 3, pp. 5 -24, 2006.</p>
            <p class="text-justify">• M. Pardo et. al. "Metodo de medicion de combustible en una embarcacion fluvial," Revista Tecnura, Universidad Francisco Jose de Caldas, Bogota, Colombia, No. 13, pp. 71 -82, 2003.</p>
            <p class="text-justify">• Y. Ditta, M. Pardo, H. Campanella. "Logical Description and Physical Synthesis of an UTRA-TDD channel coder," XVII Conference on Design of Circuits and Integrated Systems - DCIS 2002. Santander, Spain, Nov. 2002.</p>
        </ul>
      </div>
    </div><!--/row -->
  </div><!--/container -->

  
  <div class="container">
    <div class="row">
      <h1 style="text-align: center">Courses</h1>
        <u1 class="list-group">
          <li class="list-group-item"><%= link_to "Special Topics of electrical engineering", asset_path("/SpecialTopics.pdf") %>
          <li class="list-group-item"><%= link_to "Analog Electronics II", asset_path("/AnalogElecII.pdf") %>
          <li class="list-group-item"><%= link_to "Analog Electronics III", asset_path("/AnalogElecIII.pdf")%>
        </u1>
    </div><!--/row -->
  </div><!--/container -->
    
  </tbody>
<% end %>

<% content_for :contact do %>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Let's Get In Touch!</h2>
              <hr class="primary">
              <p>Want to obtain more information about our project? That's great! Give us a call or send us an email and we will get back to you as soon as possible! </p>
          </div>
          <div class="col-lg-4 col-lg-offset-2 text-center">
              <i class="fa fa-phone fa-3x sr-contact"></i>
              <p><%= yield(:tel_number) %></p>
          </div>
          <div class="col-lg-4 text-center">
              <i class="fa fa-envelope-o fa-3x sr-contact"></i>
              <p><a href="mailto:<%= yield(:email) %>"><%= yield(:email) %></a></p>
          </div>
      </div>
  </div>
<% end %>
